In [2]:
import pandas as pd

In [4]:
url = 'https://www.espncricinfo.com/records/year/team-match-results/2022-2022/twenty20-internationals-3'

In [6]:
all_tables = pd.read_html(url)

In [8]:
print(len(all_tables))

1

In [18]:
all_tables[0]

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Tanzania,Uganda,no result,-,Rwanda,"Dec 23, 2022",T20I # 1983
1,Rwanda,Uganda,Uganda,3 runs,Rwanda,"Dec 23, 2022",T20I # 1982
2,Malaysia,Bahrain,Bahrain,6 wickets,Bangi,"Dec 23, 2022",T20I # 1981
3,Qatar,Singapore,Qatar,9 wickets,Bangi,"Dec 23, 2022",T20I # 1980
4,Tanzania,Uganda,Uganda,7 runs,Rwanda,"Dec 22, 2022",T20I # 1979
...,...,...,...,...,...,...,...
526,West Indies,England,West Indies,17 runs,Bridgetown,"Jan 30, 2022",T20I # 1457
527,West Indies,England,England,34 runs,Bridgetown,"Jan 29, 2022",T20I # 1456
528,West Indies,England,West Indies,20 runs,Bridgetown,"Jan 26, 2022",T20I # 1455
529,West Indies,England,England,1 run,Bridgetown,"Jan 23, 2022",T20I # 1454
530,West Indies,England,West Indies,9 wickets,Bridgetown,"Jan 22, 2022",T20I # 1453

In [20]:
df = all_tables[0]

In [22]:
df

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Tanzania,Uganda,no result,-,Rwanda,"Dec 23, 2022",T20I # 1983
1,Rwanda,Uganda,Uganda,3 runs,Rwanda,"Dec 23, 2022",T20I # 1982
2,Malaysia,Bahrain,Bahrain,6 wickets,Bangi,"Dec 23, 2022",T20I # 1981
3,Qatar,Singapore,Qatar,9 wickets,Bangi,"Dec 23, 2022",T20I # 1980
4,Tanzania,Uganda,Uganda,7 runs,Rwanda,"Dec 22, 2022",T20I # 1979
...,...,...,...,...,...,...,...
526,West Indies,England,West Indies,17 runs,Bridgetown,"Jan 30, 2022",T20I # 1457
527,West Indies,England,England,34 runs,Bridgetown,"Jan 29, 2022",T20I # 1456
528,West Indies,England,West Indies,20 runs,Bridgetown,"Jan 26, 2022",T20I # 1455
529,West Indies,England,England,1 run,Bridgetown,"Jan 23, 2022",T20I # 1454
530,West Indies,England,West Indies,9 wickets,Bridgetown,"Jan 22, 2022",T20I # 1453

In [26]:
df.to_csv('crick_info.csv')